<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head><meta http-equiv="refresh" content="5"></head> // 5초마다 새로고침
<body>
<div class="container">
    <div>
        <table border = "1" bordercolor="black">
            <thead>
            <tr>
                <th>주문키</th>
                <th>주문번호</th>
                <th>메뉴</th>
                <th>주문 개수</th>
                <th>연령</th>
                <th>성별</th>
                <th>주문시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.orderKey}"></td>
                <td th:text="${order.orderId}"></td>
                <td th:text="${order.menuId}"></td>
                <td th:text="${order.value}"></td>
                <td th:text="${order.age}"></td>
                <td th:text="${order.gender}"></td>
                <td th:text="${order.orderTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>

